.header {
  height: 80px;
  width: 100vw;
}

.react-toast-notifications__toast--success {
  background-color: #6fa3f1 !important;
}

.react-toast-notifications__toast__icon-wrapper {
  background-color: #6fa3f1 !important;
}

.react-toast-notifications__toast__content {
  color: #fff !important;
}


.mainSection {
  padding-left: 0px;
}

.logoText {
  color: #ffffff;
  font-size: 22px;
  padding-top: 10px;
  text-align: center;
  font-weight: 500;
}

.navLinks {
  margin-top: 0px;
}

.navMargin {
  margin-top: 30px !important;
}

.searchForm {
  margin: auto;
  text-align: center;
  width: 100%;
}

.input-group-text {
  background: #242c37;
  color: #ffffff57;
  border: none;
}

.searchField {
  margin-right: 0px !important;
  background: #242C37;
  border: transparent;
  color: #fff;
  outline: none;
}

.input-group {
  width: 100% !important;
}

.searchField:focus, .searchField:active, .searchField:hover {
  margin-right: 0px !important;
  background: #242C37;
  border: transparent;
  color: #fff;
  outline: none !important;
  -webkit-appearance: none;
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.searchField:focus-within .input-group-text, .searchField:active .input-group-text {
  color: #fff !important
}

.searchOptions {
  background: #13181d;
  z-index: 10 !important;
  position: relative;
  border-top: none;
  border: 1px solid #242d37;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding-top: 6px;
  display: none;
}

.display-true {
  display: block;
}

.display-false {
  display: none;
}

.noOutline {
  outline: none !important;
}

.searchOption {
  padding: 5px;
  cursor: pointer;
}

.searchOption:hover {
  background: #00000061;
}

.searchOption h1 {
  font-size: 16px;
  text-align: left;
  padding-left: 7px;
  color: #ffffffc9;
  padding-top: 5px;
}

.searchOption h1 i {
  padding-right: 5px;
  width: 20px;
}


.navLinks > a > p {
  font-size: 19px;
  margin: auto 15px;
  padding: .5rem 0.3rem;
  color: #ffffffba;
  margin-top: -7px;
}

a.active p {
  color: #fff;
}

.navLinks > a {
  width: 115px;
}

.navLinks a p div {
  margin-top: -3px;
  font-size: 18px;
}

.navLinks > a:hover {
  text-decoration: none !important;
}

.navLinks > a:hover > p {
  text-decoration: none !important;
  color: #e2e0e0;
}

.navLinks > a:active > p {
  color: #e2e0e0;
}

.searchBox {
  max-width: 75%;
  margin: auto;
}

.form-label {
  color: #fff;
}

.pageTitle {
  text-align: center;
}

.aboutPageTitle {
  margin-top: 15px;
  font-size: 16px;
  color: #ffffffb0;
  text-align: left;
  padding: 0 30px;
}

.searchBoxContainer {
  background: #1d232b;
  margin-top: 40px;
  padding: 20px 50px;
  max-width: 70%;
  border-radius: 3px;
}

.formButtonSearch {
  text-align: center;
}

.username {
  margin: auto;
  text-align: center;
  margin-top: 28px;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  padding-top: 14px;
}

.center {
  text-align: center;
  margin: auto;
}

.m-t-20 {
  margin-top: 20px;
}

.level {
  font-size: 24px;
  background: #16a085;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.statsDiv {
  max-width: 740px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  margin-top: 0px;
  border-radius: 5px;
}

h1.sub {
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffffbf;
}

h1.sub.pad {
  padding-top: 30px;
  text-align: left;
  padding-left: 30px;
}

.m-h-130 {
  min-height: 130px;
}

.stat {
  border-radius: 5px;
  min-height: 130px;
  position: relative;
}

.stat-bigger {
  min-height: 160px !important;
}

.pageError {
  background: #1d232b;
  width: fit-content;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.page.about {
  margin: 0 20px;
}

.aboutPageContainer {
  background: #1d232b;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 840px;
}
.aboutLink {
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
  transition: all 200ms ease-in-out;
}

.aboutLink:hover {
  color: rgb(213, 213, 213);
  font-weight: bold;
  text-decoration: none !important;
}


.stat.m-small {
  min-height: 110px;
}

.stat.red {
  background: #e74c3c;
}

.stat.red .bottom {
  background: #c0392b;
}

.stat.blue {
  background: #3498db;
}

.stat.blue .bottom {
  background: #2980b9;
}

.stat.green {
  background: #2ecc71;
}

.stat.green .bottom {
  background: #27ae60;
}

.stat.gray {
  background: #151a21;
}

.stat h1 {
  font-size: 33px;
}

.stat h1.mid {
  padding-top: 32px;
}

.stat.m-small h1.mid {
  padding-top: 23px;
  font-size: 25px;
}

.stat.m-small h1.mid span {
  background: #fff;
  padding: 7px;
  border-radius: 5px;
  color: #393d3f;
  font-weight: bold;
}

.stat .bottom {
  color: #ffffffc7;
  background: #00000026;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 5px 5px;
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
}

.stat.m-small .bottom {
  background: transparent;
  position: unset;
  color: #fff;
  margin-bottom: -11px;
  font-size: 15px;
  color: #969696;
  padding-top: 15px;
}

.statTitle {
  padding-top: 10px !important;
  padding-bottom: 6px !important;
  font-size: 19px !important;
  color: #ffffffab !important;
  margin-bottom: -1px !important;
  font-weight: 600;
}

.statBox {
  background: #fff !important;
  width: fit-content !important;
  margin: auto !important; 
  padding: 5px !important;
  border-radius: 5px !important;
  margin-top: 7px !important;
}

.statRanking {
  padding-top: 6px !important;
  padding-bottom: 0px !important;
  font-size: 17px !important;
  color: #fff !important;
  font-weight: 800 !important;
  text-transform: uppercase;
}

.match {
  margin-bottom: 10px;
}

.match .rank {
  position: absolute;
  top: 62%;
  margin-left: 30px;
  background: #646769;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  width: 50px;
  height: 46px;
  font-size: 21px;
  transform: translateY(-50%);
  font-weight: bold;
}

.match .rank.win {
  background: #3498db;
}

.match .title {
  font-weight: bold;
  position: absolute;
  top: 30%;
  margin-left: 23px;
  color: #ffffffd6;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.match .title .date {
  color: #ffffff73;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0px;
}

.match .lobbyRank {
  position: absolute;
  top: 62%;
  margin-left: 90px;
  background: #262c38;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  height: 46px;
  width: 140px;
  font-size: 17px;
  transform: translateY(-50%);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 11px;
}

.lobbyRank.unranked {
  font-size: 15px;
}

.famousPlayers {
  max-width: 840px;
  margin: auto;
  margin-top: 20px;
}

.famousPlayer img {
  height: 70px;
  border-radius: 100px;
  border: 3px solid #9147ff;
}

.famousPlayer h1 {
  font-size: 21px;
  font-weight: 800;
  padding-top: 5px;
  margin-top: 10px;
}

.famousPlayer p {
  margin-top: -5px;
  font-size: 14px;
  color: #ffffffad;
}

.famousPlayer .socials {
  margin-top: -13px;
  margin-bottom: 10px;
}

.famousPlayer .socials a {
  padding: 5px;
}

.famousPlayer {
  background: #20262f;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.legend {
  background: rgb(84,45,155) !important;
  background: linear-gradient(90deg, rgba(84,45,155,1) 0%, rgba(252,162,20,1) 100%) !important;
}

.master {
  background: rgb(84,45,155) !important;
  background: linear-gradient(90deg, rgba(84,45,155,1) 0%, rgba(202,91,222,1) 100%) !important;
}

.diamond {
  background: #04c1c1 !important;;
}

.platinum {
  background: #6B8EA2 !important;;
}

.gold {
  background: #E2A500 !important;;
}

.silver {
  background: #A2B0B9 !important;;
}

.bronze {
  background: #CB7F36 !important;;
}

.legend-text {
  color: #04c1c1 !important;;
}

.master-text {
  color: rgb(102, 68, 163) !important;;
}

.diamond-text {
  color: #04c1c1 !important;;
}

.platinum-text {
  color: #6B8EA2 !important;;
}

.gold-text {
  color: #E2A500 !important;;
}

.silver-text {
  color: #A2B0B9 !important;;
}

.bronze-text {
  color: #CB7F36 !important;;
}

.alpha {
  background: #5ae498 !important;
}

.alpha-text {
  color: #87daac !important;
}

.bravo {
  background: #f7824a !important;
}

.bravo-text {
  color: #f7824a !important;
}

.charlie {
  background: #bb7bb6 !important;
}

.charlie-text {
  color: #bb7bb6 !important;
}

.delta {
  background: #388be0 !important;
}

.delta-text {
  color: #388be0 !important;
}

.echo {
  background: #ce6363 !important;
}

.echo-text {
  color: #ce6363 !important;
}

.foxtrot {
  background: #1dafaf !important;
}

.foxtrot-text {
  color: #1dafaf !important;
}



.statsBox {
  background: #151a21;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.statsBox.first {
  margin-top: -18px;
}

.statsBox .statsTitle {
  font-size: 23px;
  font-weight: 500;
  text-align: left;
  padding: 10px 30px;
}

.rankedStat {
  border-top: 1px solid #ffffff14;
  border-bottom: 1px solid #ffffff14;
}

.rankedStat h1 {
  font-size: 18px;
  text-align: left;
  padding: 0px 30px;
  padding-top: 12px;
  font-weight: bold;
}

.rankedStat p {
  font-size: 22px;
  font-weight: bold;
}

p.ranking {
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 7px;
  margin-bottom: 8px;
  margin-top: -5px;
  border-radius: 4px;
}

.matchStats {
  width: 65%;
  float: right;
  margin-top: 45px;
}

.matchStat {
  display: inline-block;
  width: 30.33%;
}

.matchStat h1 {
  font-size: 13px;
  color: #ffffff73;
  font-weight: bold;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.matchStat p {
  font-weight: bold;
  font-size: 18px;
}

.matchControls {
  height: 40px;
  background: #333c46;
  margin-bottom: 10px;
  border-radius: 5px;
}

.control {
  color: #fff;
  padding-top: 8px;
  display: inline-block;
  padding: 5px;
}

.btn-dark {
  font-size: 12px;
  background-color: #2c333a !important;
  border-color: #2c333a !important;
}

.btn-success {
  font-size: 12px;
  background-color: #FA646D !important;
  border-color: #FA646D !important;
  border-radius: 3px;
}

.logoText {
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 2;
}

.logoText img {
  height: 50px;
}

.favorites {
  margin: auto;
  width: auto;
  margin-top: 30px;
  margin: 10px 30px;
}

.favorite {
  border-radius: 5px;
  margin: 10px 10px;
  text-align: unset;
  max-width: 530px;
  position: relative;
  margin: auto;
}

.favorite p {
  font-size: 17px;
  padding: 10px;
  text-align: left;
  margin-bottom: 5px;
}

p.dropdownSubtext {
  color: #ffffff8c;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
}

.dropdownSubtext span {
  font-weight: 600;
  color: #ffffffad;
  cursor: pointer;
}

.favorite button {
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 16px;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

.navLinks {
  text-align: center;
  margin: auto;
}

.navbar {
  z-index: 1;
  padding-top: 20px;
}

.userOptions {
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

.makeHomeB {
  font-size: 14px;
  background: transparent;
  border: 2px solid #eb13ef;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  font-weight: 600;
  margin-right: 10px;
}


.fav-true {
  background: #eb13ef;
}

.makeFav {
  font-size: 14px;
  background: transparent;
  border: 2px solid #ef9713;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  font-weight: 600;
}

.favo-true {
  background: #ef9713;
}

.refreshTimer {
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -5px;
  display: inline-block;
  /* margin-left: 10px; */
}

.refreshTimer p {
  color: #ffffff8c;
  width: 55px;
}

.aboutImage {
  text-align: center;
}

.aboutImage img {
  height: 150px;
  padding: 20px;
}

.extra-nav {
  position: absolute;
  right: 20px;
  width: 140px;
  top: 29px;
}

.matchDifficulty {
  margin-bottom: 20px;
}

.matchDifficulty .statRanking {
  font-size: 25px !important;
  margin-top: 11px;
}

.matchDifficulty .statTitle {
  font-size: 15px !important;
}

.statDif {
  height: 5px;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
  background: #00000054;
  border-radius: 20px;
  position: relative;
}

.statDif .percent {
  height: 5px;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
  background: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: -15px;
}

.bigMatchStat .statTitle {
  padding-top: 20px !important;
  font-size: 12px !important;
  font-weight: bolder;
}

.bigMatchStat .statRanking {
  font-size: 25px !important;
}

.bigMatchStat {
  margin: 0 !important;
  min-height: 100px;
}

.date {
  margin: auto;
  text-align: center;
  margin-top: 7px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff8c;
}

.mainStats .date {
  padding-bottom: 10px;
}

.matchOption {
  display: inline-block;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
  background: #333c46;
  color: #ffffffc4;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.matchOption.active {
  background: #ffffffe0;
  color: #464444;
}

.extra-nav a {
  display: inline-block;
  padding-left: 30px;
  font-size: 25px;
}

.extra-nav a p {
  color: #ffffff9c;
  transition: all 300ms ease-in-out;
}

.extra-nav a:hover p {
  color: #fff;
}

.filled-5 {
  width: 5% !important;
}

.filled-10 {
  width: 10% !important;
}

.filled-15 {
  width: 15% !important;
}

.filled-20 {
  width: 20% !important;
}

.filled-25 {
  width: 25% !important;
}

.filled-30 {
  width: 30% !important;
}

.filled-35 {
  width: 35% !important;
}

.filled-40 {
  width: 40% !important;
}

.filled-45 {
  width: 45% !important;
}

.filled-50 {
  width: 50% !important;
}

.filled-55 {
  width: 55% !important;
}

.filled-60 {
  width: 60% !important;
}

.filled-65 {
  width: 65% !important;
}

.filled-70 {
  width: 70% !important;
}

.filled-75 {
  width: 75% !important;
}

.filled-80 {
  width: 80% !important;
}

.filled-85 {
  width: 85% !important;
}

.filled-90 {
  width: 90% !important;
}

.filled-95 {
  width: 95% !important;
}

.filled-99 {
  width: 99% !important;
}

.playersTable {
  width: 100%;
  margin-bottom: 30px;
}

.playersTable tr.top {
  background: #161b20;
  border-radius: 5px;
  color: #ffffffc9;
}

.playersTable .top th {
  font-size: 15px;
  font-weight: bolder;
  padding: 5px;
}

.playersTable tr.playerT:nth-child(even) {
  background: #1a2027;
}
.playersTable tr.playerT:nth-child(odd) {
  background: #161b20;
}

tr.playerT {
  color: #fff;
  font-size: 17px;
  font-weight: 800;
}

tr.playerT th {
  padding: 20px;
}


.place {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  background: #32393e;
  height: 40px;
  border-radius: 2px;
  padding-top: 7px;
  text-align: center;
}

.place.win {
  background: #3498db;
}

th.playerName {
  text-align: left;
  margin-right: 5px;
}

.openPage {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #ffffff8f;
  font-size: 12px;
}

.matches {
  height: 100vh;
  overflow-y: scroll;
}

div.siteRole.vip {
  background: #a754e6;
}

div.siteRole.beta {
  background: #43a705;
}

div.verified {
  background: transparent;
  color: #37d7fb;
  border-radius: 100%;
  font-size: 16px;
  padding-top: 5px;
  margin-right: 5px;
  width: 25px !important;
  height: 25px !important;
  display: inline-block;
}

.siteRole {
  background: #8e05a7;
  border-radius: 100%;
  font-size: 13px;
  padding: 5px;
  margin-right: 5px;
  width: 25px !important;
  height: 25px !important;
  display: inline-block;
}

.social i {
  transition: all 300ms ease-in-out;
}

.twitch:hover i {
  color: #9147ff;
}

.twitter:hover i {
  color: #1da1f2;
}

.social {
  font-size: 18px;
  padding: 5px;
}


@media only screen and (max-width: 770px) {
  .matches {
    height: 100%;
  }
  .hiddenMobile {
    display: none;
    flex: 0 0 0;
    max-width: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .extra-nav {
    position: absolute;
    right: 40px;
    width: 140px;
    top: 14px;
  }

  .searchBoxContainer {
    padding: 20px 10px !important;
  } 

  .matchStats {
    width: 100%;
    margin-top: 135px;
  }

  .stat {
    border-radius: 5px;
    min-height: 220px;
    position: relative;
  } 

  .bigMatchStat {
    min-height: 100px;
    margin-bottom: 10px !important;
  }

  .match .title {
    top: 17%;
  }

  .match .rank {
    position: absolute;
    top: 38%;
  }

  .match .lobbyRank {
    position: absolute;
    top: 38%;
  }

  .onlineStatus {
    display: none;
  }

  .navbar {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
  }

  .logoText {
    color: #ffffff;
    font-size: 18px;
    padding-top: 11px;
    padding-left: 5px;
    text-align: center;
    font-weight: 500;
  } 

  

  .stat-bigger {
    min-height: 170px !important;
  }

  .marginBottom10 {
    margin-bottom: 20px;
  }

  .favorite button {
    border-radius: 3px;
    position: absolute;
    /* right: 20px; */
    text-align: center;
    /* margin: auto; */
    left: 50%;
    top: 67px;
    transform: translateX(-50%);
    font-size: 16px;
  }

  .favorite p {
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .favorite {
    background: #ffffff12;
    border-radius: 5px;
    margin: 30px 30px;
    text-align: unset;
    max-width: 530px;
    position: relative;
    margin: auto;
    height: 120px;
    margin-bottom: 20px;
  }

  .navbar-collapse {
    background: rgb(32, 39, 47);
    border-radius: 0px 0px 5px 5px;
    margin-top: 50px;
    width: 100vw;
    margin-right: -26px;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    margin-top: 15px;
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
  }
  
  .navbar button {
    top: 5px;
    /* float: right; */
    position: absolute;
    right: 0;
  }
  
  .navLinks > a {
    margin: auto;
  }
}
